<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="header::header">

</head>
<body>
<div>使用你的Shiro示例Server帐号访问 [<span th:text="${client.clientName}"></span>] ，并同时登录Shiro示例Server</div>
<div class="error"><span th:text="${error}"></span></div>

<form action="" method="post">
    用户名：<input type="text" name="username" value="tom"><br/>
    密码：<input type="password" name="password"><br/>
    <input type="submit" value="登录并授权">
</form>

</body>
</html>